In [1]:
import pandas as pd
df= pd.read_csv("playlst.csv")
df

    AGE  GENDER      GENRE
0    20       1     HIPHOP
1    23       1     HIPHOP
2    25       1     HIPHOP
3    26       1       JAZZ
4    29       1       JAZZ
5    30       1       JAZZ
6    31       1  CLASSICAL
7    33       1  CLASSICAL
8    37       1  CLASSICAL
9    20       0      DANCE
10   21       0      DANCE
11   25       0      DANCE
12   26       0   ACOUSTIC
13   27       0   ACOUSTIC
14   30       0   ACOUSTIC
15   31       0  CLASSICAL
16   34       0  CLASSICAL
17   35       0  CLASSICAL

In [2]:
df.head()

   AGE  GENDER   GENRE
0   20       1  HIPHOP
1   23       1  HIPHOP
2   25       1  HIPHOP
3   26       1    JAZZ
4   29       1    JAZZ

In [3]:
df.shape

(18, 3)

In [4]:
df.describe()

             AGE     GENDER
count  18.000000  18.000000
mean   27.944444   0.500000
std     5.127460   0.514496
min    20.000000   0.000000
25%    25.000000   0.000000
50%    28.000000   0.500000
75%    31.000000   1.000000
max    37.000000   1.000000

In [5]:
df.values

array([[20, 1, 'HIPHOP'],
       [23, 1, 'HIPHOP'],
       [25, 1, 'HIPHOP'],
       [26, 1, 'JAZZ'],
       [29, 1, 'JAZZ'],
       [30, 1, 'JAZZ'],
       [31, 1, 'CLASSICAL'],
       [33, 1, 'CLASSICAL'],
       [37, 1, 'CLASSICAL'],
       [20, 0, 'DANCE'],
       [21, 0, 'DANCE'],
       [25, 0, 'DANCE'],
       [26, 0, 'ACOUSTIC'],
       [27, 0, 'ACOUSTIC'],
       [30, 0, 'ACOUSTIC'],
       [31, 0, 'CLASSICAL'],
       [34, 0, 'CLASSICAL'],
       [35, 0, 'CLASSICAL']], dtype=object)

In [6]:
x=df.drop(columns=['GENRE'])
y=df["GENRE"]
y

0        HIPHOP
1        HIPHOP
2        HIPHOP
3          JAZZ
4          JAZZ
5          JAZZ
6     CLASSICAL
7     CLASSICAL
8     CLASSICAL
9         DANCE
10        DANCE
11        DANCE
12     ACOUSTIC
13     ACOUSTIC
14     ACOUSTIC
15    CLASSICAL
16    CLASSICAL
17    CLASSICAL
Name: GENRE, dtype: object

In [7]:
x

    AGE  GENDER
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [8]:
from sklearn.tree import DecisionTreeClassifier

In [9]:
model= DecisionTreeClassifier()
model.fit(x,y)
predict=model.predict([[28,1],[30,0]])
predict

array(['JAZZ', 'ACOUSTIC'], dtype=object)

In [10]:
#calculatng accuracy
#split the data into two training and testing set.

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
x_train,x_test,y_train,y_test=train_test_split(x,y, test_size=0.2)

In [13]:
model= DecisionTreeClassifier()
model.fit(x_train,y_train)
predict=model.predict(x_test)

In [15]:
from sklearn.metrics import accuracy_score
score = accuracy_score (y_test,predict)
score

1.0

In [ ]:
-+